# PostgreSQL configurations
POSTGRES_DB=openci
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-secure-password-here

# GitHub Configurations
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_WEBHOOK_SECRET=your-github-webhook-secret-here
GITHUB_APP_ID=your-github-app-id-here

INTERNAL_API_KEY=your-secure-internal-api-key-here

# Secret Encryption Configurations
SECRET_ENCRYPTION_KEY=your-secret-encryption-key-here

# Orchard Configurations
ORCHARD_API_URL=https://orchard-controller:6120
ORCHARD_SERVICE_ACCOUNT_NAME=bootstrap-admin
# Use the service account token inside the bootstrap token, not the whole bootstrap token.
ORCHARD_SERVICE_ACCOUNT_TOKEN=your-orchard-service-account-token-here

# Worker configurations
BASE_VM_NAME=base-macos
ORCHARD_VM_CPU=2
ORCHARD_VM_MEMORY_GB=4
LOKI_URL_FOR_VM=http://192.168.64.1:3100
BUILD_JOB_WORKER_STOP_GRACE_PERIOD=1h

# Sentry configurations
SENTRY_DSN_SERVER=your-sentry-dsn-for-server-here
SENTRY_DSN_BUILD_JOB_PLANNER=your-sentry-dsn-for-build-job-planner-here
