.idea/
node_modules/
**/.dart_tool/
**/build/
**/coverage/
*.tsbuildinfo
.DS_Store

.env*.local

# Build artifacts
*.tar.gz

# Worker configuration secrets
worker_credentials.json
create_workers.js
.env
firebase-service-account.json
build_machine_ip_list.json
**/*.pem

# Dart Frog
**/.dart_frog/
