[package]
name = "openci-controller"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.8.4"
dotenvy = "0.15.7"
tokio = { version = "1.46.1", features = ["macros", "rt", "signal"] }
sqlx = { version = "0.8", features = [
    "runtime-tokio",
    "postgres",
    "macros",
    "chrono",
] }
secrecy = { version = "0.8", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
utoipa = { version = "5", features = ["chrono"] }
utoipa-swagger-ui = { version = "9.0.2", features = ["axum"] }
chrono = { version = "0.4", features = ["serde"] }
bcrypt = "0.17.0"
rand = "0.9.1"
sha2 = "0.10.9"
async-trait = "0.1.88"
mockall = "0.13.1"

tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
validator = { version = "0.18.1", features = ["derive"] }
hmac = "0.12.1"
hex = "0.4.3"
tower-http = { version = "0.6.6", features = ["limit"] }
serde-email = "3.2.0"
serial_test = "3.2.0"
octocrab = "0.44.1"
