name = "openci-runner-dev"
main = "src/index.ts"
compatibility_date = "2025-12-03"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true
head_sampling_rate = 1

[[routes]]
pattern = "dev.openci.run"
custom_domain = true

[vars]
OPENCI_RUNNER_LABEL = "openci-runner-beta-dev"
OPENCI_RUNNER_BASE_IMAGE = "openci-runner-0.0.4"

[env.production]
name = "openci-runner"

[[env.production.routes]]
pattern = "prod.openci.run"
custom_domain = true

[env.production.vars]
OPENCI_RUNNER_LABEL = "openci-runner-beta"
OPENCI_RUNNER_BASE_IMAGE = "openci-runner-0.0.4"
