name: Ruby Install Workflow

on:
  push:
    paths:
      - "apps/cicd_sandbox_app/**"
      - ".github/workflows/flutter_analyze.yaml"
  pull_request:
    paths:
      - "apps/cicd_sandbox_app/**"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: apps/cicd_sandbox_app

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
