name: Test
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./openci-runner
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: Prepare CF secrets
        run: |
          cat <<'EOF' > .env
          GH_APP_WEBHOOK_SECRET=${{ secrets.GH_APP_WEBHOOK_SECRET }}
          GH_APP_ID=${{ secrets.GH_APP_ID }}
          GH_APP_PRIVATE_KEY=${{ secrets.GH_APP_PRIVATE_KEY }}
          EOF

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.3.7

      - name: Run Biome
        run: biome ci . --error-on-warnings
        working-directory: .

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test-with-codecov

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
